* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

.namaYayasan {
  color: rgb(235, 0, 0);
  background-color: aqua;
  margin-top: 40px;
}

#collapsibleNavbar {
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#navbar-brand {
  background-color: aqua;
}

#rounded-circle {
  background-color: blueviolet;
}

.navbar-namayayasan {
  color: whitesmoke;
  font-family: Calibri;
  font-size: x-large;
  font-weight: bolder;
}

/* navbar */
.navbar-dark {
  background: #0aa1dd;
  font: 550 15px "Poppins", sans-serif;
}

.navbar .navbar-brand {
  color: #006abd;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000000;
}

.navbar .navbar-text {
  color: #86cf26;
}

.navbar .navbar-text a {
  color: #000000;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #000000;
}

.navbar .navbar-nav .nav-link {
  color: whitesmoke;
  border-radius: 0.25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .dropdown-menu {
  background-color: #0aa1dd;
}

.dropdown-item {
  background-color: #0aa1dd;
  color: bisque;
}

.container-fluids {
  padding-top: 56px;
}

/* Photo Slide*/
.carousel-item {
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  position: relative;
  color: white;
  /* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px, #000000 0px 0px 50px, #000000 0px 0px 75px, 2px 2px 2px rgba(31,0,206,0); */
}
.carousel-item image {
  filter: brightness(50%);
}

.carousel-inner {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-caption h5 {
  font-size: 3rem;
  position: absolute;
  color: overlay;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.carousel-caption p {
  width: 100%;
  margin-top: 58px;
  font-size: 18px;
  line-height: 1.7;
  background-color: rgb(0, 0, 0, 0.4);
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0);
  }

  .carousel-caption {
    margin: auto;
  }

  .carousel-caption h5 {
    font-size: 28px;
  }

  .carousel-caption p {
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1;
    background-color: rgb(0, 0, 0, 0.5);
  }

  .carousel-item {
    min-height: 65vh;
  }

  .w-100 {
    height: 90vh;
    width: 10vh;
  }
}

/* Pejenlasan unit*/

.unit {
  border: 1px solid skyblue;
  padding: 12px 30px 0px 30px;
  text-align: justify;
}

.unitTK h5 {
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
}

.section-unit p {
  font-size: 14px;
  padding: 15px;
  line-height: 1.5;
}

.section-unit h5 {
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 550;
}
/*.unit .btn {
  color: black;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0;
  
}*/
.btn-more {
  color: black;
  /*border: 1px solid black;*/
  margin: auto;
  text-align: center;
}
.btn-more .btn {
  border: 1px solid black;
}

/* PROFILE */
.profil {
  padding: 40px 30px 0px 30px;
  text-align: justify;
}

.visi {
  padding: 0px 30px 0px 30px;
  text-align: justify;
}

.misi {
  padding: 0px 30px 0px 30px;
  text-align: justify;
  font-size: 24px;
}

.nilai {
  padding: 0px 30px 0px 30px;
  text-align: center;
  font-size: 140px;
}

.nilai ul {
  padding: 0px 30px 0px 30px;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}

.tujuan-organisasi {
  padding: 0px 30px 0px 30px;
  text-align: center;
  border-bottom: 1px solid skyblue;
  line-height: 1.5;
}

/*Map*/
.mapouter {
  padding: 5%;
  padding-top: 0px;
  margin: auto;
  position: relative;
  text-align: auto;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  margin: auto;

  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%px;
}

/* Kontak */
.kontak {
  padding-top: 30px;
}

.detailKontak {
  padding: 0px 40px 0px 40px;
}

.kontak h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: x-large;
}
.kontak img {
  width: 28px;
  height: 28px;
}
.kontak h6 {
  color: black;
  font-size: 18px;
  font-style: italic;
}
.kontak a {
  text-decoration: none;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  color: #064663;
  line-height: 1.9;
}

.kontak a:hover {
  font-weight: 700;
}

.kontak button {
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: white;
}

.kontak button:hover {
  border: 1px solid whitesmoke;
  background-color: #6ecb63;
  color: aliceblue;
}
.kontak .fa {
  color: green;
}

/* FOOTER  */
.footer {
  background-color: #0aa1dd;
}
.footer h5 {
  padding-top: 12px;
  text-align: center;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.footer p {
  padding-bottom: 12px;
  text-align: center;
  font-size: 11px;
  font-style: italic;
  color: aliceblue;
}

/* BERITA DAN ACARA */

.news-item {
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  position: relative;
  color: white;
  /* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px, #000000 0px 0px 50px, #000000 0px 0px 75px, 2px 2px 2px rgba(31,0,206,0); */
}
.news-item image {
  filter: brightness(50%);
}

.news-inner {
  background-color: rgba(0, 0, 0, 0.2);
}

.news-caption h5 {
  font-size: 3rem;
  position: absolute;
  color: overlay;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.news-caption p {
  width: 100%;
  margin-top: 58px;
  font-size: 18px;
  line-height: 1.7;
  background-color: rgb(0, 0, 0, 0.4);
}


@media only screen and (max-width: 768px) {
  .news-caption {
    margin: auto;
  }

  .news-caption h5 {
    font-size: 28px;
  }

  .news-caption p {
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1;
    background-color: rgb(0, 0, 0, 0.5);
  }

  .news-item {
    min-height: 65vh;
  }
}
